/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.main-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}
.main-title-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}
.main-title-bold-red {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  color: red;
  font-weight: bold;
}
.radios {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.chart-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.chart-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}
